<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".webService.retrofit.SingleUserActivity"
            android:exported="false" />
        <activity
            android:name=".com.example.myapplication.webService.retrofit.AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".com.example.myapplication.webService.retrofit.UserListActivity"
            android:exported="false" />
        <activity
            android:name=".com.example.myapplication.webService.retrofit.RetrofitActivity"
            android:exported="false" />
        <activity
            android:name=".webService.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".webService.WebServiceActivity"
            android:exported="false" />
        <activity
            android:name=".UI_Widgets.MaterialActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/edit_text_border" />

        <activity
            android:name=".UI_Widgets.DisplayToast"
            android:exported="true" />
        <activity
            android:name=".UI_Widgets.DisplayMessageActivity"
            android:exported="true" />
        <activity
            android:name=".Layouts.FrameActivity"
            android:exported="false" />
        <activity
            android:name=".Layouts.ConstraintActivity"
            android:exported="false" />
        <activity
            android:name=".Layouts.GridActivity"
            android:exported="false" />
        <activity
            android:name=".Layouts.TableActivity"
            android:exported="false" />
        <activity
            android:name=".Layouts.RelativeActivity"
            android:exported="false" />
        <activity
            android:name=".Layouts.LayoutActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/edit_text_border" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>