<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".architecture.mvvm.view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".architecture.mvp.view.ArchitectureSignup"
            android:exported="false" />
        <activity
            android:name=".architecture.mvc.view.ArchitectureLogin"
            android:exported="false" />
        <activity
            android:name=".architecture.ArchitectureActivity"
            android:exported="false" />
        <activity
            android:name=".webService.retrofit.ManualJsonParseActivity"
            android:exported="false" />
        <activity
            android:name=".webService.retrofit.SingleUserActivity"
            android:exported="false" />
        <activity
            android:name=".com.example.myapplication.webService.retrofit.AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".com.example.myapplication.webService.retrofit.UserListActivity"
            android:exported="false" />
         <activity
            android:name=".webService.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".com.example.myapplication.webService.retrofit.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".webService.WebServiceActivity"
            android:exported="false" />
        <activity
            android:name=".com.example.myapplication.OtherVIew.nestedScrollView.ScrollViewActivity"
            android:exported="false" />
        <activity
            android:name=".com.example.myapplication.OtherVIew.webView.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".com.example.myapplication.OtherVIew.SearchView.SearchViewActivity"
            android:exported="false" />
        <activity
            android:name=".OtherVIew.OtherViewActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/edit_text_border" />

        <activity
            android:name=".UI_Widgets.DisplayToast"
            android:exported="true" />
        <activity
            android:name=".UI_Widgets.DisplayMessageActivity"
            android:exported="true" />
        <activity
            android:name=".Layouts.FrameActivity"
            android:exported="false" />
        <activity
            android:name=".Layouts.ConstraintActivity"
            android:exported="false" />
        <activity
            android:name=".Layouts.GridActivity"
            android:exported="false" />
        <activity
            android:name=".Layouts.LayoutActivity"

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/edit_text_border" />

        <activity
            android:name=".layout.FrameActivity"
            android:exported="false" />
        <activity
            android:name=".RecycleViewPractical.BottomNavigation.BottomNavActivity"
            android:exported="false" />
        <activity
            android:name=".RecycleViewPractical.ViewPager.ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".RecycleViewPractical.ItemDecoration.ItemDecorGridActivity"
            android:exported="false" />
        <activity
            android:name=".RecycleViewPractical.ListView.ListViewActivity"
            android:exported="true" />
        <activity
            android:name=".RecycleViewPractical.RecycleActivity"
            android:exported="true" />
        <activity
            android:name=".layout.TableActivity"
            android:exported="false" />
        <activity
            android:name=".layout.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".layout.ConstraintActivity"
            android:exported="false" />
        <activity
            android:name=".layout.GridActivity"
            android:exported="false" />
        <activity
            android:name=".layout.RelativeActivity"
            android:exported="true" />
        <activity
            android:name=".layout.LayoutActivity"
            android:exported="false" />
        <activity
            android:name=".RecycleViewPractical.RecycleView.RecycleViewActivity"
            android:exported="false" />
        <activity
            android:name=".Fragment.JetpackActivity"
            android:exported="true" />
        <activity
            android:name=".Fragment.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".Fragment.FragmentContainActivity"
            android:exported="false" />
        <activity
            android:name=".Fragment.BottomNavigationActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>